@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Dancing+Script&display=swap');


:root {
  color-scheme: light dark;
  color: rgba(255, 255, 233, 0.87);
  background-color: #616161;
}

body {
  font-family: 'Big Shoulders', sans-serif;
  display: flex;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#NG{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p{
  font-weight: bold;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 3px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
button:hover {
  border-color: #999999;
  transition: 0.7s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input{
  border-radius: 3px;
  border: none;
  padding: 2px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
#min{
  margin-right: 2px;
}
#max{
  margin-left: 2px;
  margin-right: 2px;
}
